Django==1.8
Jinja2
MarkupSafe
Pygments
SQLAlchemy==0.9.9
Sphinx==1.2.2
coverage
djangorestframework==3.1.3
docutils
drf-nested-routers==0.9.0
flake8
mccabe
mock
nose==1.3.2
six
sphinx-rtd-theme==0.1.6
